 <!-- Navigation -->
 <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href=" {% url 'blog:index' %}">Blog</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated  %}
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.username}}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="{% url 'blog:log_out' %}">Se deconnecter</a>
         <!--      <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a> -->
            </div>
          </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:log_in' %}">Login</a>
        </li>
      
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:register' %}">Register</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

